<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]=" ['/'] ">
        <img src="../../../assets/img.png" width="30" height="30" alt="" />
        Expense Tracker App
    </a>

    <div class="navbar-collapse">
        <div class="navbar-nav ml-auto">
            <a *ngIf="loginService.userLoggedIn" class="nav-item nav-link" [routerLink]=" ['/'] ">Home</a>
            <a *ngIf="!loginService.userLoggedIn" class="nav-item nav-link" routerLinkActive="active" [routerLink]=" ['/signin'] ">Signin</a>
            <a *ngIf="!loginService.userLoggedIn" class="nav-item nav-link" routerLinkActive="active" [routerLink]=" ['/signup'] ">Signup</a>
            <a *ngIf="loginService.userLoggedIn" class="nav-item nav-link" [routerLink]=" ['/expensetypeconfig'] " >Manage Expense Types</a>
            <a *ngIf="loginService.userLoggedIn" class="nav-item nav-link" [routerLink]=" ['/expenseentry'] " >Expense Entry</a>
            <a *ngIf="loginService.userLoggedIn" class="nav-item nav-link" (click)="handleSignOut()" >Logout</a>
        </div>
    </div>
</nav>